<div class="field">
  <label class="field__label" data-ref="label"></label>
  <div class="field__control">
    <span class="field__lead" data-ref="lead" hidden></span>
    <input class="field__input" data-ref="input" />
    <span class="field__trail" data-ref="trail" hidden></span>
  </div>
  <p class="field__helper" data-ref="helper" hidden></p>
  <p class="field__error" data-ref="error" hidden>
    <span class="field__error-icon" data-ref="errorIcon"></span>
    <span data-ref="errorText"></span>
  </p>
</div>
