<article class="book-item">
  <div class="book-item__cover" data-ref="cover"></div>
  <div class="book-item__body">
    <h3 class="book-item__title t-h3"><a class="book-item__link" data-ref="link"></a></h3>
    <p class="t-body-sm muted" data-ref="author"></p>
    <div class="book-item__badges" data-ref="badges"></div>
    <p class="book-item__text t-body-sm clamp-3" data-ref="text"></p>
    <div class="book-item__foot">
      <span class="book-item__more" data-ref="more" aria-hidden="true">
        <span data-i18n="book.viewDetails"></span>
      </span>
    </div>
  </div>
</article>
